#wrapper{
    overflow-x: hidden;
    background-image:linear-gradient(to right,#baf3d7,#c2f5de,#cbf7e4,#d4f8ea,#ddfaef);
}
#sidebar-wrapper{
    min-height: 100vh;
    margin-left: -15rem;
    transition:margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading{
    padding: 0,85rem 1.25rem;
    font-size: 1.2rem;
}
